@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Georama:wght@100;300;400;500&display=swap');

:root {
    --color: #F5BB90;
}

.header {
    margin:auto;
    color: brown;
    text-align:center;
    font-family:'Kaushan Script', cursive;
    font-size: medium;
    border: 3px solid #E76F51 ;
    border-radius: 5px;
}

body {
    background-image:linear-gradient(to right, var(--color), 
    #E76F51); 
    font: size 20px;
}

.st {
    color: black;
    text-align:center;
    font-family:'Kaushan Script', cursive;
    font-size: medium;
}

image {
    /* background-image: url("/imagens/fundo.jpg"); */
    height:50px;
    width:50px;
}

/* img {
    margin: 0px 50px 75px 100px;
} */

.description {
    color:black;
    text-align:center;
    font-size: medium;
    font-family:'Georama', sans-serif;
    padding:20px;
    font-weight: 300;
}

p {
    margin-top: 100px;
    text-align: center;
    font-size: medium;
    color:black;
    font-family: 'Georama', sans-serif;
}

.form-row {
    font-family: 'Georama', sans-serif;
    color:black;
    font-weight:500;

}

input[type="text"], input[type="file"], input[type="date"] {
    background-color:transparent;
}

.cont {
    display: flex;
}

.titulo {
    color:black;
    text-align:center;
    font-size: medium;
    font-family:'Georama', sans-serif;
    padding:20px;
    font-weight:500;
}

.content {
    color:black;
    text-align:center;
    font-size: medium;
    font-family:'Georama', sans-serif;
    padding:20px;
    font-weight:400;
}

.fonte {
    color:white;
}

.fontet {
    color:orange;
}

