@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Georama:wght@200;300&display=swap');

body {
    background-image:linear-gradient(to right,#F5BB90, 
    #E76F51);
    font-family:'Kaushan Script', cursive;
    font: size 20px;
}

main {
    font-family: 'Georama', sans-serif;
}

h1 {
    /* background-color:beige; */
    /* border-radius:10px;  */
    /* box-shadow:5px 5px 15px, black;  */
    /* width: 2000px; */
    /* padding:10px; */
    margin:auto;
    color: brown;
    text-align:center;

}

h2 {
    color:black;
    font-family:'Georama', sans-serif;
    font-size:large;
    text-align:center;
    
}


p {
    text-align: justify;
    color:black;
    text-indent: 30px;
}



